In [17]:
import pandas as pd

gdp = pd.read_csv('C:\\Users\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\gdp_total_yearly_growth.csv')

In [41]:
years = [col for col in gdp.columns if col.isdigit() and 1991 <= int(col) <= 2013] #years only go to 2013 in gdp, only start in 1991 in agriculture workers
countries = ['Afghanistan', 'Angola', 'Bangladesh', 'Benin', 'Burkina Faso', 'Burundi', 'Cambodia', 'Central African Republic', 'Chad', 'Comoros', 'Switzerland', 'Norway', 'Hong Kong, China', 'Iceland', 'Australia', 'Sweden', 'Germany', 'Denmark', 'Ireland', 'Singapore']
developed_countries = ['Switzerland', 'Norway', 'Hong Kong, China', 'Iceland', 'Australia', 'Sweden', 'Germany', 'Denmark', 'Ireland', 'Singapore']
developing_countries = ['Afghanistan', 'Angola', 'Bangladesh', 'Benin', 'Burkina Faso', 'Burundi', 'Cambodia', 'Central African Republic', 'Chad', 'Comoros']

# Combine into one list and assign labels
developed_list = developed_countries + developing_countries
status = ['yes'] * len(developed_countries) + ['no'] * len(developing_countries)

# Create the DataFrame
developed_column = pd.DataFrame({
    'country': developed_list,
    'developed?': status
})

print(developed_column)

                     country developed?
0                Switzerland        yes
1                     Norway        yes
2           Hong Kong, China        yes
3                    Iceland        yes
4                  Australia        yes
5                     Sweden        yes
6                    Germany        yes
7                    Denmark        yes
8                    Ireland        yes
9                  Singapore        yes
10               Afghanistan         no
11                    Angola         no
12                Bangladesh         no
13                     Benin         no
14              Burkina Faso         no
15                   Burundi         no
16                  Cambodia         no
17  Central African Republic         no
18                      Chad         no
19                   Comoros         no

In [47]:
gdp_filtered = gdp[['country'] + years]
gdp_filtered = gdp_filtered[gdp_filtered['country'].isin(countries)]
gdp_filtered.insert(0, 'category', 'GDP')
print(gdp_filtered)

    category                   country   1991    1992      1993   1994   1995  \
1        GDP               Afghanistan   7.34    1.22     −5.14  −2.57   28.3
2        GDP                    Angola  0.991   −5.84       −24   1.34     15
12       GDP                 Australia  0.184    3.55      3.84   4.15   4.11
15       GDP                   Burundi   4.79  −0.396     −1.32  −3.19  −12.3
17       GDP                     Benin   4.81    4.37      2.41   2.63   3.97
18       GDP              Burkina Faso   9.51    2.07     −1.17  0.847   4.08
19       GDP                Bangladesh   3.88    5.76      5.26   4.65   5.42
33       GDP  Central African Republic  −1.01   −6.69    −0.138   6.26   5.47
35       GDP               Switzerland  −1.06  0.0513  −0.00561   1.28  0.606
44       GDP                   Comoros   1.78    3.47      3.01  −5.28   3.61
51       GDP                   Germany   5.26    2.25    −0.666   3.02   2.13
54       GDP                   Denmark   1.45    2.11    0.0877   5.74   3.09
84       GDP          Hong Kong, China    5.6    6.19      5.52   4.46   2.86
91       GDP                   Ireland   1.46     2.9      2.58   5.86   9.82
94       GDP                   Iceland  0.853   −3.58     0.508   4.63  0.577
103      GDP                  Cambodia   9.74     7.4     −5.39   8.49   9.52
148      GDP                    Norway   3.86    3.45      2.88   5.46   4.62
174      GDP                 Singapore   6.48    6.32      12.5   11.6   8.07
187      GDP                    Sweden  −3.45   0.663     −1.67   4.12   4.99
192      GDP                      Chad     10    2.31     −2.24   5.09  0.379

      1996  1997   1998  ...   2004   2005   2006   2007    2008     2009  \
1     7.31  5.88   5.01  ...   6.55   12.4   4.56   13.6     2.5     20.2
2       20   5.5      0  ...   11.2   20.5   18.6   23.2    13.8     2.39
12    3.62   4.4   5.52  ...   2.82    3.7   2.93   4.86     2.6     1.64
15   −7.94  0.73   2.98  ...   4.05  0.224    6.5   5.94    5.72     3.94
17    5.25  5.49   4.36  ...   3.48   3.25   3.75   4.63    5.02     2.66
18    7.35  4.71   6.34  ...    4.5   7.01   6.25    4.1    5.81     2.96
19    5.03  5.68   5.39  ...   5.84   5.28   6.53    6.3    5.96     5.91
33   −7.28  7.76   3.81  ...   1.49   2.26    4.5    4.4    1.91  −0.0427
35    0.79  2.15   3.14  ...   2.75   2.63   3.88   3.89    1.73    −3.75
44   −1.34  4.22   1.15  ...  −0.24   4.23   1.24  0.491   0.975     1.81
51    1.03  1.81   1.84  ...   1.08  0.798   4.01   3.49   0.926    −4.87
54    2.82  3.35   2.35  ...   2.18   3.21   3.53   1.71  −0.795    −5.81
84    3.64  5.79  −3.47  ...   7.65   6.85   6.36   6.56    2.55    −2.05
91    8.41  11.7   7.62  ...   5.09   6.69   4.63   3.57   −3.12    −5.19
94    5.63  4.87   5.32  ...   8.55   5.27   3.53   5.68    1.84    −6.02
103  −3.21  7.29   2.18  ...   9.01   12.5   9.43   10.2    6.12   −0.452
148   5.55  5.45   2.35  ...   4.26   3.32   2.41   2.73  −0.152    −1.37
174   6.53  7.72  −2.43  ...   9.44   6.88   7.71   7.47    2.76     1.01
187   1.59  2.59   3.08  ...    4.4   3.33   4.51   3.45  −0.739    −5.08
192   3.07   4.2   7.74  ...   34.3   8.21  0.687  0.528    1.87    −1.05

       2010   2011    2012     2013
1      8.04   6.98    14.8     4.47
2      3.45   3.87    4.96     3.79
12     3.14   2.59    3.19     2.47
15     3.98   4.08    3.64     3.91
17     2.55   3.53    5.39     5.68
18     7.88   4.16    8.89     8.06
19      6.4   6.66    6.21     6.04
33     2.46   2.75    4.13      −36
35      2.5   1.34   0.385     1.72
44     2.05   2.23    3.44     3.96
51     4.04   2.89    0.44  −0.0344
54     1.61   1.04  −0.355    0.566
84     6.94   4.98    1.67      3.1
91   0.0596   2.25    1.11    −3.23
94    −3.67   3.19    2.27     3.29
103    6.25   7.27    7.51     7.26
148  −0.101  0.882     2.2    0.238
174    15.6   4.66    0.74     3.27
187    6.19    3.7   0.737     1.23
192    13.2  0.683    9.04     3.76

[20 rows x 25 columns]

In [48]:
education = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\owid_education_idx.csv')

education_filtered = education[['country'] + years]
education_filtered = education_filtered[education_filtered['country'].isin(countries)]
education_filtered.insert(0, 'category', 'OWID Education Index')
print(education_filtered.head())

#what to do about nans?

                category      country  1991  1992  1993  1994  1995  1996  \
0   OWID Education Index  Afghanistan  10.7  10.7  11.3  12.0  12.7  12.7
1   OWID Education Index       Angola   NaN   NaN   NaN   NaN   NaN   NaN
8   OWID Education Index    Australia  78.7  78.7  78.7  78.7  78.7  78.7
11  OWID Education Index      Burundi  10.0  10.0  10.0  10.7  10.7  10.7
13  OWID Education Index        Benin  11.3  12.0  12.7  13.3  14.0  14.7

    1997  1998  ...  2004  2005  2006  2007  2008  2009  2010  2011  2012  \
0   13.3  13.3  ...  16.7  17.3  18.0  19.3  20.0  20.7  21.3  22.0  22.7
1    NaN   NaN  ...  29.3  29.3  30.0  30.0  30.7  31.3  31.3  31.3  32.0
8   78.7  78.7  ...  78.7  78.0  79.3  80.0  82.0  82.0  82.7  83.3  84.0
11  11.3  11.3  ...  14.7  15.3  16.0  16.0  16.7  17.3  17.3  17.3  18.0
13  15.3  16.0  ...  18.0  18.7  18.7  18.7  18.7  18.7  18.7  18.7  20.0

    2013
0   23.3
1   32.7
8   84.0
11  18.7
13  21.3

[5 rows x 25 columns]

In [49]:
agWorkers = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\agriculture_workers_percent_of_employment.csv')

agWorkers_filtered = agWorkers[['country'] + years]
agWorkers_filtered = agWorkers_filtered[agWorkers_filtered['country'].isin(countries)]
agWorkers_filtered.insert(0, 'category', 'Agriculture Workers (%)')
print(agWorkers_filtered.head())

                   category      country   1991   1992   1993  1994   1995  \
0   Agriculture Workers (%)  Afghanistan  63.40  63.70  64.40  64.5  64.30
1   Agriculture Workers (%)       Angola  39.80  39.90  40.20  40.1  39.60
6   Agriculture Workers (%)    Australia   5.36   5.05   5.12   4.9   4.77
9   Agriculture Workers (%)      Burundi  92.10  92.10  92.20  92.2  92.30
11  Agriculture Workers (%)        Benin  50.90  50.80  50.60  50.3  50.10

     1996   1997   1998  ...   2004   2005   2006   2007   2008   2009   2010  \
0   64.70  65.00  65.20  ...  63.30  62.10  61.30  60.10  59.30  56.90  54.60
1   39.00  38.50  38.20  ...  36.20  38.10  40.20  42.20  44.40  46.50  48.90
6    4.84   4.91   4.85  ...   3.74   3.58   3.41   3.32   3.31   3.23   3.23
9   92.40  92.30  92.20  ...  90.60  90.30  89.90  89.50  89.10  88.70  88.20
11  49.80  49.50  49.30  ...  46.60  46.30  45.90  45.30  44.80  44.50  44.10

     2011  2012   2013
0   53.60  51.4  49.80
1   51.20  51.2  51.20
6    2.82   2.8   2.62
9   87.70  87.2  86.70
11  43.60  43.0  42.30

[5 rows x 25 columns]

In [50]:
indWorkers = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\industry_workers_percent_of_employment.csv')

indWorkers_filtered = indWorkers[['country'] + years]
indWorkers_filtered = indWorkers_filtered[indWorkers_filtered['country'].isin(countries)]
indWorkers_filtered.insert(0, 'category', 'Industry Workers (%)')
print(indWorkers_filtered.head())

                category      country   1991   1992   1993   1994   1995  \
0   Industry Workers (%)  Afghanistan  12.40  12.20  11.60  11.50  11.50
1   Industry Workers (%)       Angola   8.88   8.76   8.66   8.57   8.50
6   Industry Workers (%)    Australia  23.50  23.30  23.30  23.20  22.60
9   Industry Workers (%)      Burundi   2.53   2.49   2.45   2.40   2.33
11  Industry Workers (%)        Benin  20.10  20.10  20.00  20.40  20.30

     1996   1997  1998  ...   2004   2005   2006   2007  2008   2009   2010  \
0   11.10  10.70  10.3  ...  10.60  11.30  11.80  12.20  12.5  13.60  14.70
1    8.46   8.46   8.5  ...   9.10   8.84   8.58   8.32   8.0   7.75   7.85
6   22.10  21.90  21.5  ...  21.20  21.10  21.30  21.20  21.6  21.10  21.00
9    2.26   2.22   2.2  ...   2.44   2.54   2.61   2.71   2.8   2.91   3.02
11  20.20  20.20  20.1  ...  19.40  19.40  19.20  19.00  18.9  18.80  18.70

     2011   2012   2013
0   14.70  15.80  16.30
1    7.96   7.94   7.85
6   20.80  20.70  20.50
9    3.13   3.25   3.37
11  18.60  18.50  18.40

[5 rows x 25 columns]

In [52]:
servWorkers = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\service_workers_percent_of_employment.csv')

servWorkers_filtered = servWorkers[['country'] + years]
servWorkers_filtered = servWorkers_filtered[servWorkers_filtered['country'].isin(countries)]
servWorkers_filtered.insert(0, 'category', 'Service Workers (%)')
print(servWorkers_filtered.head())

               category      country   1991   1992   1993   1994   1995  \
0   Service Workers (%)  Afghanistan  24.10  24.10  24.00  24.10  24.20
1   Service Workers (%)       Angola  51.30  51.30  51.10  51.30  52.00
6   Service Workers (%)    Australia  71.10  71.70  71.60  71.90  72.60
9   Service Workers (%)      Burundi   5.34   5.38   5.37   5.38   5.37
11  Service Workers (%)        Benin  29.00  29.10  29.30  29.30  29.70

     1996   1997   1998  ...   2004   2005   2006   2007   2008   2009   2010  \
0   24.20  24.30  24.40  ...  26.10  26.50  26.90  27.70  28.20  29.50  30.70
1   52.60  53.00  53.30  ...  54.70  53.10  51.20  49.50  47.60  45.70  43.30
6   73.00  73.20  73.60  ...  75.00  75.30  75.30  75.50  75.10  75.60  75.80
9    5.37   5.43   5.59  ...   6.94   7.16   7.48   7.76   8.09   8.41   8.77
11  29.90  30.30  30.70  ...  33.90  34.30  34.90  35.60  36.30  36.80  37.30

     2011   2012   2013
0   31.70  32.80  33.80
1   40.80  40.80  41.00
6   76.30  76.50  76.90
9    9.12   9.51   9.92
11  37.80  38.50  39.30

[5 rows x 25 columns]

In [54]:
exports = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\exports_percent_of_gdp.csv')

exports_filtered = exports[['country'] + years]
exports_filtered = exports_filtered[exports_filtered['country'].isin(countries)]
exports_filtered.insert(0, 'category', 'Exports (%)')
print(exports_filtered.head())

#what to do about nans?

       category      country   1991   1992   1993  1994  1995   1996   1997  \
1   Exports (%)  Afghanistan    NaN    NaN    NaN   NaN   NaN    NaN    NaN
2   Exports (%)       Angola    NaN    NaN    NaN   NaN   NaN    NaN    NaN
9   Exports (%)    Australia  16.00  16.70  17.50  18.0  17.9  18.90  19.10
12  Exports (%)      Burundi   9.92   8.75   9.38  10.3  12.9   5.82   9.84
14  Exports (%)        Benin  21.00  23.20  22.50  28.3  27.4  26.50  27.20

    1998  ...   2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
1    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    NaN  ...  58.40  65.5  63.5  67.9  72.5  58.8  61.5  60.7  55.9  50.7
9   19.6  ...  17.20  18.2  19.9  20.2  20.1  23.0  19.8  21.4  21.5  20.0
12   8.0  ...   6.95   6.2   7.3   6.8  10.5   6.6   9.7   8.8   9.7   9.1
14  27.1  ...  18.50  18.5  18.1  22.0  22.1  19.9  23.1  20.8  23.9  27.6

[5 rows x 25 columns]

In [67]:
babies = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\children_per_woman_total_fertility.csv')
lagged_years = [col for col in gdp.columns if col.isdigit() and 1961 <= int(col) <= 1983]

babies_filtered = babies[['country'] + lagged_years]
babies_filtered = babies_filtered[babies_filtered['country'].isin(countries)]
babies_filtered.insert(0, 'category', 'Babies per woman (30 years lagged)')

new_years = list(range(1991, 2014))
new_column_names = {str(year): f'{year}' for year in lagged_years}
year_mapping = {old_year: str(new_year) for old_year, new_year in zip(lagged_years, new_years)} #renaming years
babies_filtered.rename(columns=year_mapping, inplace=True)

print(babies_filtered.head())

                              category      country  1991  1992  1993  1994  \
0   Babies per woman (30 years lagged)  Afghanistan  7.37  7.37  7.37  7.36
1   Babies per woman (30 years lagged)       Angola  6.92  6.97  7.03  7.09
8   Babies per woman (30 years lagged)    Australia  3.54  3.43  3.34  3.15
11  Babies per woman (30 years lagged)      Burundi  7.02  7.04  7.07  7.10
13  Babies per woman (30 years lagged)        Benin  6.39  6.44  6.50  6.55

    1995  1996  1997  1998  ...  2004  2005  2006  2007  2008  2009  2010  \
0   7.35  7.36  7.36  7.38  ...  7.53  7.54  7.56  7.59  7.60  7.61  7.64
1   7.16  7.22  7.28  7.33  ...  7.50  7.49  7.49  7.48  7.47  7.46  7.46
8   2.98  2.88  2.85  2.89  ...  2.38  2.21  2.06  2.02  1.96  1.91  1.90
11  7.12  7.14  7.16  7.18  ...  7.22  7.24  7.25  7.25  7.26  7.31  7.35
13  6.60  6.62  6.64  6.67  ...  6.82  6.83  6.83  6.83  6.82  6.91  6.99

    2011  2012  2013
0   7.62  7.60  7.57
1   7.46  7.46  7.46
8   1.94  1.94  1.93
11  7.33  7.31  7.30
13  7.06  7.06  7.05

[5 rows x 25 columns]

In [68]:
childMortality = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\child_mortality_0_5_year_olds_dying_per_1000_born.csv')
lagged_years = [col for col in gdp.columns if col.isdigit() and 1961 <= int(col) <= 1983]

childMortality_filtered =childMortality[['country'] + lagged_years]
childMortality_filtered = childMortality_filtered[childMortality_filtered['country'].isin(countries)]
childMortality_filtered.insert(0, 'category', 'Child Mortality Rate (30 years lagged)')

new_years = list(range(1991, 2014))
new_column_names = {str(year): f'{year}' for year in lagged_years}
year_mapping = {old_year: str(new_year) for old_year, new_year in zip(lagged_years, new_years)} #renaming years
childMortality_filtered.rename(columns=year_mapping, inplace=True)

print(childMortality_filtered.head())

                                  category      country   1991   1992   1993  \
0   Child Mortality Rate (30 years lagged)  Afghanistan  351.0  345.0  340.0
1   Child Mortality Rate (30 years lagged)       Angola  305.0  302.0  298.0
8   Child Mortality Rate (30 years lagged)    Australia   24.3   23.7   23.2
11  Child Mortality Rate (30 years lagged)      Burundi  251.0  248.0  245.0
13  Child Mortality Rate (30 years lagged)        Benin  306.0  301.0  296.0

     1994   1995   1996   1997   1998  ...   2004   2005   2006   2007   2008  \
0   335.0  330.0  324.0  319.0  314.0  ...  280.0  275.0  269.0  263.0  257.0
1   295.0  291.0  287.0  283.0  279.0  ...  256.0  252.0  249.0  246.0  243.0
8    22.7   22.4   22.1   22.0   21.9  ...   18.4   17.3   16.2   15.2   14.4
11  242.0  243.0  245.0  247.0  248.0  ...  251.0  251.0  250.0  247.0  242.0
13  290.0  285.0  280.0  275.0  271.0  ...  244.0  239.0  234.0  228.0  223.0

     2009   2010   2011   2012   2013
0   250.0  244.0  238.0  231.0  225.0
1   241.0  238.0  236.0  232.0  230.0
8    13.6   13.0   12.6   12.2   11.9
11  234.0  225.0  214.0  204.0  193.0
13  219.0  215.0  211.0  207.0  203.0

[5 rows x 25 columns]

In [69]:
lex = pd.read_csv('C:\\Users\\Ashley Rommel\\OneDrive\\Documents\\Fall 2024\\DS 4002\\DS4002-Project2\\DATA\\lex.csv')
lagged_years = [col for col in gdp.columns if col.isdigit() and 1941 <= int(col) <= 1963]

lex_filtered = lex[['country'] + lagged_years]
lex_filtered = lex_filtered[lex_filtered['country'].isin(countries)]
lex_filtered.insert(0, 'category', 'Life Expectancy (50 years lagged)')

new_years = list(range(1991, 2014))
new_column_names = {str(year): f'{year}' for year in lagged_years}
year_mapping = {old_year: str(new_year) for old_year, new_year in zip(lagged_years, new_years)} #renaming years
lex_filtered.rename(columns=year_mapping, inplace=True)

print(lex_filtered.head())

                             category      country  1991  1992  1993  1994  \
0   Life Expectancy (50 years lagged)  Afghanistan  41.2  41.4  41.5  41.7
1   Life Expectancy (50 years lagged)       Angola  39.4  40.1  40.8  41.4
8   Life Expectancy (50 years lagged)    Australia  66.5  66.2  66.8  68.4
11  Life Expectancy (50 years lagged)      Burundi  33.1  33.0  31.6  18.3
13  Life Expectancy (50 years lagged)        Benin  39.9  40.0  40.2  40.4

    1995  1996  1997  1998  ...  2004  2005  2006  2007  2008  2009  2010  \
0   41.9  42.0  42.2  42.4  ...  43.3  43.9  44.1  44.3  44.5  44.7  45.0
1   42.1  42.8  43.5  44.2  ...  45.6  45.5  45.7  45.8  45.9  46.1  46.3
8   68.8  68.3  69.0  68.9  ...  70.2  70.3  70.4  70.6  71.0  70.9  71.1
11  33.0  34.4  35.9  37.3  ...  41.5  41.9  42.2  42.6  43.1  43.5  43.9
13  40.9  41.5  42.0  42.5  ...  44.0  44.1  44.2  44.2  44.4  44.5  44.8

    2011  2012  2013
0   45.3  45.5  45.7
1   44.8  45.0  45.2
8   71.3  71.2  71.2
11  44.2  44.4  44.7
13  45.0  45.3  45.8

[5 rows x 25 columns]

In [78]:
concat_df = pd.concat([gdp_filtered, education_filtered, agWorkers_filtered, indWorkers_filtered, servWorkers_filtered, exports_filtered, babies_filtered, childMortality_filtered, lex_filtered], ignore_index=True)
final_df = pd.merge(concat_df, developed_column, on='country', how='left')
final_df.insert(2, 'developed?', final_df.pop('developed?'))

final_df.to_csv('final_data.csv', index=False)

print(final_df.head())

  category      country developed?   1991    1992   1993   1994   1995   1996  \
0      GDP  Afghanistan         no   7.34    1.22  −5.14  −2.57   28.3   7.31
1      GDP       Angola         no  0.991   −5.84    −24   1.34     15     20
2      GDP    Australia        yes  0.184    3.55   3.84   4.15   4.11   3.62
3      GDP      Burundi         no   4.79  −0.396  −1.32  −3.19  −12.3  −7.94
4      GDP        Benin         no   4.81    4.37   2.41   2.63   3.97   5.25

   1997  ...  2004   2005  2006  2007  2008  2009  2010  2011  2012  2013
0  5.88  ...  6.55   12.4  4.56  13.6   2.5  20.2  8.04  6.98  14.8  4.47
1   5.5  ...  11.2   20.5  18.6  23.2  13.8  2.39  3.45  3.87  4.96  3.79
2   4.4  ...  2.82    3.7  2.93  4.86   2.6  1.64  3.14  2.59  3.19  2.47
3  0.73  ...  4.05  0.224   6.5  5.94  5.72  3.94  3.98  4.08  3.64  3.91
4  5.49  ...  3.48   3.25  3.75  4.63  5.02  2.66  2.55  3.53  5.39  5.68

[5 rows x 26 columns]